<app-card>
    <div class="row form-card">
        <div class="col-12 mt-3">
            <form [formGroup]="executionForm" (ngSubmit)="createPipeline()">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="icon-wave">
                            <i class="fas fa-stream"></i>
                        </div>
                        <h4 class="title">Novo Pipeline</h4>
                        <p class="subtitle">Para criar uma sequência de execução, basta selecionar
                            os serviços e outputs desejados.
                        </p>
                        <div class="row">
                            <div class="col-12 d-flex flex-column mb-3">
                                <div class="label-float">
                                    <input type="text" placeholder=" " formControlName="executionName" />
                                    <label>Nome</label>
                                </div>
                            </div>
                            <div class="steps mt-2 mb-1"
                                *ngFor="let item of executionForm.get('executionSteps')['controls']; let index=index"
                                formArrayName="executionSteps">
                                <p class="step-name">Step {{index + 1}}</p>
                                <div [formGroupName]="index">
                                    <div class="label-float">
                                        <select placeholder=" " formControlName="providerId" (change)="setProvider()">
                                            <option value="1">Selecione o serviço</option>
                                            <option [value]="provider.id" *ngFor="let provider of providers">
                                                {{provider.name}}</option>
                                        </select>
                                        <label>Serviço</label>
                                    </div>

                                    <div class="label-float">
                                        <select placeholder=" " formControlName="outputType">
                                            <option value="1">Selecione o formato do output</option>
                                            <option [value]="output"
                                                *ngFor="let output of selectedProviders[index]?.outputSupportedTypes">
                                                {{output}}</option>
                                        </select>
                                        <label>Formato do Output</label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div class="line"
                                        [class.total]="(index !== executionForm.get('executionSteps')['controls'].length -1)">
                                    </div>
                                    <button class="plus" (click)="addStep()"
                                        *ngIf="index === (executionForm.get('executionSteps')['controls'].length -1)">+</button>
                                </div>
                            </div>

                            <div class="col-6 d-flex align-items-end mt-5 mb-3">
                                <p class="back" [routerLink]="['/pipelines']" routerLinkActive="router-link-active">
                                    Voltar</p>
                            </div>
                            <div class="col-6 d-flex flex-column mt-5 mb-3">
                                <button>Criar Pipeline</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-card>