<app-card>
    <div class="row form-card">
        <div class="col-12 mt-3">
            <form [formGroup]="pipelineForm">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="icon-wave">
                            <i class="fas fa-stream"></i>
                        </div>
                        <div>
                            <h4 class="title">{{editMode? 'Visualização de seu Pipeline' : 'Novo Pipeline'}}</h4> 
                            <p class="subtitle">{{editMode? 'Você pode exportar esta pipeline para outro projeto ou alterar seus dados.' 
                                : 'Para criar uma sequência de execução, basta selecionar os serviços e outputs desejados.'}}
                            </p>
                        </div>
                        <div class="row">
                            <div class="d-flex flex-column mb-3 col-12">
                                <div class="label-float">
                                    <input [class.error]="getControlError('executionName')" type="text" placeholder=" "
                                        formControlName="executionName" />
                                    <label [class.error]="getControlError('executionName')">Nome</label>
                                </div>
                                <app-input-validation [control]="pipelineForm.get('executionName')">
                                </app-input-validation>
                                <div *ngIf="!editMode" class="label-float">
                                    <select [class.error]="getControlError('projectId')" placeholder=" "
                                        formControlName="projectId">
                                        <option value="1">Selecione o Projeto</option>
                                        <option [value]="project.id" *ngFor="let project of projects">
                                            {{project.name}}</option>
                                    </select>
                                    <label [class.error]="getControlError('projectId')">Projeto</label>
                                </div>
                                <app-input-validation [control]="pipelineForm.get('projectId')"></app-input-validation>
                            </div>
                        </div>
                        <div class="steps mt-2 mb-1"
                            *ngFor="let item of pipelineForm.get('executionSteps')['controls']; let index=index"
                            formArrayName="executionSteps">
                            <p class="step-name">Step {{index + 1}}</p>
                            <div [formGroupName]="index">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="label-float">
                                            <select placeholder=" " formControlName="providerId"
                                                (change)="setProvider(index)">
                                                <option value="1">Selecione o serviço</option>
                                                <option [value]="provider.id" *ngFor="let provider of providers">
                                                    {{provider.name}}</option>
                                            </select>
                                            <label>Serviço</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="label-float">
                                            <select placeholder=" " formControlName="outputType">
                                                <option value="1">Selecione o formato do output</option>
                                                <option [value]="output"
                                                    *ngFor="let output of selectedProviders[index]?.outputSupportedTypes">
                                                    {{output}}</option>
                                            </select>
                                            <label>Output</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 pt-2">
                                        <button class="configure-btn" (click)="initServiceConfig(index)">Configurar
                                            Serviço</button>
                                    </div>
                                </div>
                            </div>

                            <div class="steps mt-2 mb-1">

                            </div>

                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <button class="plus" (click)="removeStep(index)"
                                    *ngIf="index === (pipelineForm.get('executionSteps')['controls'].length -1) && index > 0">-</button>
                                <div class="line"
                                    [class.total]="index !== pipelineForm.get('executionSteps')['controls'].length -1 || index === 0">
                                </div>
                                <button class="plus" (click)="addStep()" *ngIf="index === (pipelineForm.get('executionSteps')['controls'].length -1)
                                     && serviceIsConfigured(index)">+</button>
                            </div>
                        </div>
                        
                        <div class="row" *ngIf="showExport">
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div class="label-float">
                                    <select placeholder=" " [(ngModel)]="importProjectId" [ngModelOptions]="{ standalone: true }">
                                        <option value="1">Selecione o Projeto que importará a Pipeline</option>
                                        <option [value]="project.id" *ngFor="let project of projects">{{project.name}}</option>
                                    </select>
                                    <label>Exporte a pipeline para o projeto:</label>
                                </div>
                                
                            <div class="col-2 d-flex flex-column mt-5 mb-3">
                                <button class="export" (click)="exportPipeline()">Exportar</button>
                            </div>
                            <div class="col-2 d-flex flex-column mt-5 mb-3">
                                <button class="cancel" (click)="cancelExport()">Cancelar</button>
                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 d-flex align-items-end mt-5 mb-3">
                                <p class="back" [routerLink]="['/pipelines']" routerLinkActive="router-link-active">
                                    Voltar</p>
                            </div>
                            <div *ngIf="editMode" class="col-3 d-flex flex-column mt-5 mb-3">
                                <button class="import" (click)="showExportBox()">Exportar Pipeline</button>
                            </div>
                            <div class="d-flex flex-column mt-5 mb-3" [ngClass]="editMode? 'col-3' : 'col-6' ">
                                <button (click)="createPipeline()">{{editMode ? 'Editar Pipeline' : 'Criar Pipeline'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <app-config-provider-modal #configProviderModal (newOperation)="saveServiceConfigs($event)">
    </app-config-provider-modal>
</app-card>