.body-container {
    background-color: white;
}

.body-card {
    background: #ebeeef;
    max-width: 100%;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 60px);
    margin: 0;
    padding: 10px
}