<app-card>
  <div class="row form-card">
    <div class="col-12 mt-3">
      <form [formGroup]="executionForm" (ngSubmit)="createExecution()">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <div class="icon-wave">
              <i class="fas fa-wave-square"></i>
            </div>
            <h4 class="title">Nova Execução</h4>
            <p class="subtitle">Uma nova execução pode ser criada através de um dataset de um projeto.
              Execuções encadeadas são realizadas partindo do output da etapa anterior
            </p>
            <div class="row">
              <div class="col-12 d-flex flex-column mb-3">
                <div class="label-float">
                  <input type="text" placeholder=" " formControlName="executionName"/>
                  <label>Nome da execução</label>
                </div>
              </div>
              <div class="label-float">
                <select placeholder=" " formControlName="project">
                  <option value="1">Selecione o projeto</option>
                  <option [value]="project.id" *ngFor="let project of projects">{{project.name}}</option>
                </select>
                <label>Projeto</label>
              </div>
              <div class="label-float">
                <select placeholder=" " formControlName="dataset">
                  <option value="1">Selecione o dataset</option>
                  <option [value]="dataset.id" *ngFor="let dataset of selectedProject?.datasets">{{dataset.filename}}</option>
                </select>
                <label>Dataset</label>
              </div>
              <div class="steps mt-3 mb-1" *ngFor="let item of executionForm.get('steps')['controls']; let index=index" formArrayName="steps">
                <p class="step-name">Step {{index + 1}}</p>
                <div [formGroupName]="index">
                  <div class="label-float">
                    <select placeholder=" " formControlName="provider" (change)="setProvider()">
                      <option value="1">Selecione o serviço</option>
                      <option [value]="provider.id" *ngFor="let provider of providers" >{{provider.name}}</option>
                    </select>
                    <label>Serviço</label>
                  </div>

                  <div class="label-float">
                    <select placeholder=" " formControlName="outputFormat">
                      <option value="1">Selecione o formato do output</option>
                      <option [value]="output" *ngFor="let output of selectedProviders[index]?.outputSupportedTypes">{{output}}</option>
                    </select>
                    <label>Formato do Output</label>
                  </div>
                </div>
                
                <div class="d-flex justify-content-between align-items-center mt-3">
                  <div class="line" [class.total]="(index !== executionForm.get('steps')['controls'].length -1)"></div>
                  <button class="plus" (click)="addStep()" *ngIf="index === (executionForm.get('steps')['controls'].length -1)">+</button>
                </div>
              </div>

              <div class="col-6 d-flex align-items-end mt-5 mb-3">
                <p class="back" [routerLink]="['/executions']" routerLinkActive="router-link-active">Voltar</p>
              </div>
              <div class="col-6 d-flex flex-column mt-5 mb-3">
                <button>Iniciar Execução</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-card>
