<div class="login-body">
    <div class="col-md-4">
        <div class="login-card">
            <div class="row">
                <div class="col-12 title-header">
                    <p class="title one">PIPE</p>
                    <p class="title two">GENE</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 d-flex flex-column mb-3">
                    <div class="label-float mb-3">
                        <input type="text" placeholder=" " formControlName="executionName" />
                        <label>Email</label>
                    </div>
                    <div class="label-float mb-5">
                        <input type="text" placeholder=" " formControlName="executionName" />
                        <label>Senha</label>
                    </div>
                    <button class="btn mb-5">Login</button>

                    <p class="signup">Não tem uma conta? <span [routerLink]="['/signup']">Cadastre-se</span> </p>
                </div>
            </div>
        </div>
    </div>
</div>