<form [formGroup]="parametersForm" class="row">
    <div class="col-12">
        <div class="label-float">
            <select placeholder=" " formControlName="type" [class.error]="getControlError('type')">
                <option value="">Select the service</option>
                <option [value]="type" *ngFor="let type of fieldTypes">{{type}}</option>
            </select>
            <label [class.error]="getControlError('type')">Type</label>
        </div>
        <app-input-validation [control]="parametersForm.get('type')">
        </app-input-validation>
    </div>
    <div class="col-md-6 col-12">
        <div class="label-float">
            <input [class.error]="getControlError('name')" type="text" placeholder=" " formControlName="name" />
            <label [class.error]="getControlError('name')">Name</label>
        </div>
        <app-input-validation [control]="parametersForm.get('name')">
        </app-input-validation>
    </div>
    <div class="col-md-6 col-12">
        <div class="label-float">
            <input [class.error]="getControlError('key')" type="text" placeholder=" " formControlName="key" />
            <label [class.error]="getControlError('key')">Key</label>
        </div>
        <app-input-validation [control]="parametersForm.get('key')">
        </app-input-validation>
    </div>
    <div class="col-12">
        <div class="label-float">
            <input [class.error]="getControlError('example')" type="text" placeholder=" " formControlName="example" />
            <label [class.error]="getControlError('example')" >Example</label>
        </div>
        <app-input-validation [control]="parametersForm.get('example')">
        </app-input-validation>
    </div>
</form>

<div class="d-flex justify-content-between align-items-center mt-2">
    <button class="cancel" (click)="closeForm()">Cancel</button>
    <button class="add" *ngIf="!formInEditMode" (click)="return()"><i class="fas fa-check"></i></button>
    <button class="add" *ngIf="formInEditMode" (click)="saveChanges()"><i class="fas fa-pen"></i></button>
</div>