@import '/src/assets/styles/variables.scss'; 

.option {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  height: 100px;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 0px #c6c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  color: #656565;
  cursor: pointer;
}

.option:hover {
  border: 2px solid #9aa1ad;
}

i {
  font-size: 30px;
  margin-bottom: 10px;
  color: #379abf;
}

.card-body {
  background-color: #ebeeef;
  height: calc(100vh - 60px);
}

.c-card{
  background-color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 20px;
  box-shadow: 1px 2px 3px 0px #c6c6c6;

  h5 {
    margin: 0;
    font-family: $font-dm-sans;
    color: #656565;
  }

  p {
    margin: 0;
    color: #656565;
    font-size: 14px;
  }
}