<div class='card-body'>
  <div class="c-card">
    <h5 style="color: red">Bem-vindo ao PipeGene, Guilherme</h5>
    <p>{{today}}</p>
  </div>
  <div class="row d-flex justify-content-center mb-3">    
    <div class="col-12">
      <div class="row">
        <div class="col-md-3 col-12" *ngFor="let option of options">
          <div class="option" [routerLink]="[option.url]"  >
            <i [class]="option.icon"></i>
            {{option.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-card">
    <h5>Execuções em Andamento</h5>
  </div>
</div>