<div class='card-body'>
  <div class="c-card">
    <h5>Bem-vindo, {{username}}!</h5>
    <p>{{today}}</p>
  </div>
  <div class="row d-flex justify-content-center mb-3">    
    <div class="col-12">
      <div class="row">
        <div class="col-md-3 col-12" *ngFor="let option of options">
          <div class="option" [routerLink]="[option.url]"  >
            <i [class]="option.icon"></i>
            {{option.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-card" *ngIf="executions.length > 0">
    <h5 class="mb-4">Suas Execuções</h5>
    <div class="d-flex flex-column w-100 justify-content-center">
      <div class="col-12">
        <app-execution-details *ngIf="executions.length > 0" [executions]="executions" (refresh)="getExecutions()">
        </app-execution-details>
      </div>
    </div>
  </div>
  
  <div class="notification-card">
    <div class="notification-container">
      <h5>Notificações de Solicitações</h5>
      <div *ngFor="let notification of allNotifications" class="notification">
        <div class="notification-text">
          Você foi convidado para participar do projeto {{notification.projectName}} por {{notification.submitterUsername}}
        </div>
        <div class="notification-buttons">
          <button (click)="acceptSolicitation(notification.id)" class="btn btn-success btn-sm custom-button-accept">
             Aceitar
          </button>
          <button (click)="denySolicitation(notification.id)" class="btn btn-danger btn-sm custom-button-deny">
             Negar
          </button>
        </div>
      </div>
    </div>
  </div>
  
  
</div>