<div class="login-body">
    <div class="col-md-4">
        <div class="login-card">
            <div class="row">
                <div class="col-12 title-header">
                    <p class="title one">PIPE</p>
                    <p class="title two">GENE</p>
                </div>
            </div>
            <form [formGroup]="loginForm">
                <div class="row mt-5">
                    <div class="col-12 d-flex flex-column mb-3">
                        <div class="error-message" *ngIf="invalid"> 
                            <p>Username ou senha incorretos</p>
                        </div>
                        <div class="label-float">
                            <input [class.error]="getControlError('username')" type="text" placeholder=" "
                                formControlName="username" />
                            <label [class.error]="getControlError('username')">Username</label>
                        </div>
                        <app-input-validation class="mb-3" [control]="loginForm.get('username')"></app-input-validation>

                        <div class="label-float">
                            <input [class.error]="getControlError('password')" type="password" placeholder=" "
                                formControlName="password" />
                            <label [class.error]="getControlError('password')">Senha</label>
                        </div>
                        <app-input-validation class="mb-3" [control]="loginForm.get('password')"></app-input-validation>

                        <button class="btn mb-5" (click)="login()">Login</button>

                        <p class="signup">Não tem uma conta? <span [routerLink]="['/signup']">Cadastre-se</span> </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>