.empty-state {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
        width: 500px;
    }

    p {
        margin-top: -80px;
        color: #4d4d4d;
    }
}