.details-body {
    padding: 10px 20px 20px 20px;
    background-color: #ebeeef;
}

.fa-redo-alt {
    margin-bottom: 15px;
    color: #555555;
    cursor: pointer;
}

.base {
    display: flex;
    align-items: center;

}

.steps-line {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    overflow-x: auto;

    .step-item {
        display: flex;
        align-items: center;

        .step-info {
            background-color: #ffffff;
            padding: 3px 10px;
            border-radius: 4px;
            width: 200px;
            margin-bottom: 10px;
            padding: 5px 8px;
            display: flex;
            align-items: center;

            i {
                font-size: 20px;
                margin-right: 20px;
            }

            p {
                font-size: 14px;
                margin: 0;
                color: #2e2e2e;
            }
        }
    }

    .line {
        margin-bottom: 10px;
        border: 1px solid #3997c0;
        width: 100px;
    }
}

.fa-check-circle {
    color: #9ddf9d;
}

.fa-clock {
    color: #f1d30d
}

.fa-pause-circle {
    color: #aeaeae
}

.fa-exclamation-circle {
    color: #fa7070;
}

.success {
    border: 2px solid #9ddf9d;
}

.in-progress {
    border: 2px solid #f1d30d;
}

.n-executed {
    border: 2px solid #aeaeae;
}

.error {
    border: 2px solid #fa7070;
}

.execution-body {
    margin-bottom: 25px;
}

.execution-header {
    min-height: 50px;
    box-shadow: 1px 2px 4px 0px #c8c8c8;
    position: relative;

    .status {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 30px;
            color: white;
        }
    }

    .description {
        display: flex;
        justify-content: center;
        align-items: center;

        .execution-description {
            width: 100%;

            .e-title {
                margin: 0;
                color: #5f5e5e;
            }

            .dataset {
                margin: 0;
                color: grey;
                font-size: 12px;
            }
        }

        i {
            color: grey;
            cursor: pointer;
        }
    }
}


.h-success {
    background-color: #9ddf9d;
}

.h-in-progress {
    background-color: #f1d30d;
}

.h-n-executed {
    background-color: #aeaeae;
}

.h-error {
    background-color: #fa7070;

}

.expandle {
    transition: all .5s ease-in-out;
    height: 0;

    .expandable:target {
        height: 100%;
    }
}

#steps::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

#steps::-webkit-scrollbar {
    width: 12px;
    height: 5px;
    background-color: transparent;
}

#steps::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(158, 158, 158);
}


.details-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;

    a {
        background-color: #3997c0;
        border: none;
        padding: 5px 10px;
        color: white;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.3s ease;
        text-decoration: none;

        i {
            color: #1e6b8c;
            margin-left: 20px;
        }

        &:hover {
            background-color: #175e7c;
        }
    }
}

.error-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
        width: 40px;
    }

    p {
        margin: 0
    }
}