<header class="header">
    <div class="header-container">
        <div class="row w-100 h-100">
            <div class="col-8 d-flex justify-content-start align-items-center">
                <i class="fas fa-bars mr-4" (click)="toggle()"></i>
                <p class="title" [routerLink]="['/main']" routerLinkActive="router-link-active">Pipe<span>Gene</span>
                </p>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <i class="fas fa-user-edit" (click)="editUser()"></i>
                <p class="log-out" (click)="signout()">Sair</p>
            </div>          
        </div>
    </div>
</header>