<header class="header">
    <div class="header-container">
        <div class="row w-100 h-100">
            <div class="d-flex justify-content-start align-items-center">
                <p class="title" [routerLink]="['/main']" routerLinkActive="router-link-active" >Pipe<span>Gene</span></p>
            </div>
            <!-- <div class="col-md-2 col-12 d-flex justify-content-center align-items-center">
                <p class="logOut">Sair</p>
            </div> -->
        </div>
      
    </div>
  </header>