@import '/src/assets/styles/variables.scss';

.header {
  position: relative;
  z-index: 10;
  padding: 0;
  min-height: 60px;
  background: $color-white;
  box-shadow: 1px 1px 3px #00000040;

  .header-container {
    margin-left: 5%;
	height: 60px;
  }

  .title {
    color: #379abf;
    margin: 0;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;

    span {
      color: #5454a7;
    }
  }
}

.logOut {
	margin: 0;
    color: #969696;
    font-weight: bold;
	cursor: pointer;
}
