<app-card>
  <div class="row form-card">
    <div class="col-12 mt-3">
      <form [formGroup]="projectForm">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <div class="icon">
              <i class="far fa-folder-open"></i>
            </div>
            <div>
              <h4 class="title">{{editMode? 'Edit Project' : 'New Project'}}</h4>
              <p class="subtitle">{{editMode? 'You can edit the data of this project.' 
                : 'Create your project by adding its name and its description and selecting the datasets for future executions.'}}
              </p>
            </div>
            <div class="row">
              <div class="d-flex flex-column" [class]="editMode? 'col-12' : 'col-md-6'">
                <div class="label-float">
                  <input type="text" placeholder=" " formControlName="name" [class.error]="getControlError('name')" />
                  <label [class.error]="getControlError('name')">Name</label>
                </div>
                <app-input-validation [control]="projectForm.get('name')"></app-input-validation>
              </div>
              <div class="col-md-6 d-flex flex-column" *ngIf="!editMode">
                <button class="datasets" (click)="openFileInput(inputFile)">Datasets</button>
                <input type="file" multiple hidden #inputFile formControlName="datasets"
                  (change)="handleFileInput($event.target.files)" />
                <app-input-validation [control]="projectForm.get('datasets')"></app-input-validation>
              </div>
              <div class="col-12 d-flex flex-column mb-3">
                <div class="label-float">
                  <input type="text" placeholder=" " formControlName="description" />
                  <label>Description</label>
                </div>
              </div>
              <div *ngIf="datasetsToUpload.length > 0" class="mt-3 mb-5">
                <p class="dataset-title">Selected Datasets</p>
                <div class="line mb-3"></div>
                <div class="datasets-list mb-2" *ngFor="let dataset of datasetsToUpload; let i=index">
                  <p>{{dataset.name}}</p>
                  <i class="fas fa-times" *ngIf="!editMode" (click)="removeDataset(i)"></i>
                </div>
              </div>
              <div class="col-12 d-flex flex-column mb-3">
                <p class="dataset-title">Usuários Selecionados</p>
                <div class="line mb-3"></div>
                <div class="label-float" style="flex: 1;">
                  <input type="text" #searchInput (input)="getUsers(searchInput.value)" placeholder="Digite nome ou email" />
                  <label>Search User</label>
                </div>
              </div>
              <div class="col-12 d-flex flex-column mb-3">
                <label>Selected Users</label>
                <ul class="list-group search-results" *ngIf="users.length > 0 || selectedUsersList.length > 0" style="flex: 1;">

                  <!-- Usuários selecionados -->
                  <li *ngFor="let user of selectedUsers" class="list-group-item d-flex justify-content-between align-items-center selected user-element">
                    {{ user.username }}
                    <button type="button" class="btn btn-sm user-button" (click)="toggleUserSelection(user)">
                      <i class="fas fa-times fa-sm text-danger blue-icon"></i>
                    </button>
                  </li>

                  <!-- Usuários não selecionados -->
                  <li *ngFor="let user of unselectedUsers" class="list-group-item d-flex justify-content-between align-items-center user-element">
                    {{ user.username }}
                    <button type="button" class="btn btn-sm user-button" (click)="toggleUserSelection(user)">
                      <i class="fas fa-plus-circle fa-sm text-success"></i>
                    </button>
                  </li>
                </ul>
              </div>
                                                        
              <div class="col-md-6 d-flex align-items-end mt-3 mb-3 back-container">
                <p class="back" [routerLink]="['/projects']" routerLinkActive="router-link-active">Back</p>
              </div>
              <div class="col-md-6 d-flex flex-column mt-3 mb-3">
                <button (click)="saveProject()">{{editMode? 'Edit Project' : 'Create Project'}}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-card>