@import '/src/assets/styles/input.scss';
@import '/src/assets/styles/variables.scss';


.description {
    font-family: $font-dm-sans;
    color: #7f7f7f;
}

.close.pull-right {
    background-color: white;
    border: none;
}

.modal-title {
    font-family: $font-dm-sans !important;
}

.save-btn {
    color: white;
    background-color: #0d76af;
    font-weight: bold;
}

.add-parameter {
    margin: 10px 0px 20px 3px;
    font-size: 14px;
    color: #0d76af;
    cursor: pointer;

}

.parameters-list {
    width: 100%;
    margin-top: 10px;

    hr {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .title {
        margin: 0;
        color: gray
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
            font-size: 16px;
            color: gray
        }

        i {
            color: #de4040;
            font-size: 16px;
            cursor: pointer;
        }
    }
}