<div class="login-body">
    <div class="col-md-4">
        <div class="login-card">
            <div class="row">
                <div class="col-12 title-header">
                    <p class="title one">PIPE</p>
                    <p class="title two">GENE</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 d-flex flex-column mb-3">
                    <div class="label-float mb-2">
                        <input type="text" placeholder=" " formControlName="executionName" />
                        <label>Email</label>
                    </div>
                    <div class="label-float mb-2">
                        <input type="text" placeholder=" " formControlName="executionName" />
                        <label>Nome</label>
                    </div>
                    <div class="label-float mb-1">
                        <input type="text" placeholder=" " formControlName="executionName" />
                        <label>Senha</label>
                    </div>
                    <hr>

                    <div class="label-float">
                        <input type="text" placeholder=" " formControlName="executionName" />
                        <label>ORCID</label>
                    </div>
                    <span class="opcional">*Opcional</span>
                    <div class="label-float">
                        <input type="text" placeholder=" " formControlName="executionName" />
                        <label>Github</label>
                    </div>
                    <span class="opcional">*Opcional</span>


                    <button class="btn mt-5 mb-5">Cadastrar</button>

                    <p class="signup">Já tem uma conta? <span [routerLink]="['/login']">Login</span> </p>
                </div>
            </div>
        </div>
    </div>
</div>