<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{project.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="description">{{project.description}}</p>
    <div class="datasets-list">
      <h5>Datasets</h5>
      <div></div>
      <p *ngFor="let item of project.datasets">{{item.filename}}</p>
    </div>
    <div class="datasets-list">
      <h5>Execuções do Projeto</h5>
      <div></div>
      <p *ngFor="let item of executions; let i = index">Execução {{i + 1}} - {{item.status}}</p>
    </div>
    <div class="modal-footer d-flex justify-content-between align-items-center">
      <div></div>
      <!-- <i class="fas fa-trash delete" (click)="deleteProject()"></i> -->
      <button class="edit-btn" (click)="setEditMode()">Editar</button>
    </div>
  </div>
</ng-template>