.spinner-wrap {
    width: 100%;

    .overlay {
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=50);
        opacity: .5;
        z-index: 999;
    }

    .wrapper {
        height: 100%;
        width: 100%;
        margin-left: 47%;
    }

    .spinner {
        width: 50px;
        height: 50px;
        position: fixed;
        top: 47%;
        border: 3px solid lightgrey;
        border-top: 3px solid #379abf;
        border-radius: 50%;
        animation: spin 2s linear infinite;
        z-index: 999;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}