@import '/src/assets/styles/input.scss';
@import '/src/assets/styles/variables.scss';

.edit-body {
    background: url("../../../../assets/img/image.png") no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center
}

.edit-card {
    margin-top: 40px;
    min-height: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 35px 30px;
}

.title-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: $font-grotesk;
    margin: 0;
    font-size: 30px;
}

.one {
    color: #379abf;
    letter-spacing: 6px;
    width: 95px;
    font-weight: bold;
}

.two {
    color: #5454a7;
    letter-spacing: 4px;
    margin-top: -17px;
}

button {
    color: white;
    background-color: #379abf;
    transition: 0.3s ease-in;
    padding: 10px 0px;

    &:hover {
        color: white;
        background-color: #5454a7;
    }
}

.return {
    text-align: center;
    font-size: 14px;
    color: #333333;

    span {
        color: #379abf;
        cursor: pointer;
    }
}

.error-message {
    background-color: #ffcaca;
    color: #404040;
    padding: 10px;
    border-radius: 5px;
    
    p{
        margin: 0;
    }
}