$color-white: #ffffff;
$color-primary: #767af7;
$color-secondary: #98e7fc;
$color-accent: #4bdc8c;
$color-bg-dark: #13263d;
$color-bg-light: #eff7f9;
$color-text-gray: #4f4f4f;
$color-error: #d44141;

$font-grotesk: 'Space Grotesk', sans-serif;
$font-dm-sans: 'DM Sans', sans-serif;