<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{provider.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p class="description">{{provider.description}}</p>
        <p class="description">{{provider.url}}</p>
        <p class="description">{{provider.urlSource}</p>
        <p class="description">{{provider.public}}</p>
        <p class="description">{{provider.inputSupportedTypes}}</p>
        <p class="description">{{provider.outputSupportedTypes}}</p>

        <div class="modal-footer d-flex justify-content-between align-items-center">
            <i class="fas fa-trash delete" *ngIf="isOwner" ></i>
            <button class="edit-btn" 
              (click)="isOwner ? setEditMode() : ''">
              {{ isOwner ? 'Edit' : 'Leave Group' }}
            </button>
          </div>    
      </div>


</ng-template>