<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{provider.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p class="description">{{provider.description}}</p>

        <div class="list">
          <p class="title">Provider URL</p>
          <hr class="mt-0 mb-2">
          <a href="{{provider.url}}">{{provider.url}}</a>
        </div>

        <div class="list">
          <p class="title">Provider Source</p>
          <hr class="mt-0 mb-2">
          <a href="{{provider.urlSource}}">{{provider.urlSource}}</a>
        </div>

        <div class="list">
          <p class="title">Input Supported Types</p>
          <hr class="mt-0 mb-2">
          <p *ngFor="let type of provider.inputSupportedTypes">{{type}}</p>
        </div>

        <div class="list">
          <p class="title">Output Supported Types</p>
          <hr class="mt-0 mb-2">
          <p *ngFor="let type of provider.outputSupportedTypes">{{type}}</p>
        </div>
        

        <div class="modal-footer d-flex justify-content-between align-items-center">
            <button *ngIf="isOwner" class="edit-btn" 
              (click)="setEditMode()">
              Edit
            </button>
          </div>    
      </div>


</ng-template>