<form [formGroup]="paramsForm" *ngIf="ready">
    <p class="description">{{description}}</p>
    <div *ngFor="let param of params">
        <div [ngSwitch]="param.type">
            <div class="label-float" *ngSwitchCase="'text'">
                <input [class.error]="getControlError(param.key)" type="text" placeholder=" " [formControlName]="param.key"/>
                <label [class.error]="getControlError(param.key)">{{param.name}}</label>
            </div>
        </div>
        <p class="example" *ngIf="!getControlError(param.key)">Ex: {{param.example}}</p>
        <app-input-validation [control]="paramsForm.get(param.key)">
        </app-input-validation>
    </div>
</form>
