@import '/src/assets/styles/input.scss';
@import '/src/assets/styles/variables.scss';

.tip {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 6px;
    font-size: 14px;
    color: grey;
}

.description {
    font-family: $font-dm-sans;
    color: #7f7f7f;
}

.example {
    font-size: 12px;
    color: gray;
}