<app-card>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-12 mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Suas Execuções</h3>

        <button class="add-button" [routerLink]="['new']">
          Criar Execução
          <i class="fas fa-plus-circle"></i>
        </button>
      </div>
    </div>

    <div class="col-md-10 col-12 mt-3">
      <div class="" *ngFor="let execution of executions">
        <div class="execution-body">
          <div class="execution-header row">
            <div class="col-md-3 col-12 status" [class]="getStatus(execution.status)">
              <i [class]="getIconStatus(execution.status)"></i>
            </div>
            <div class="col-md-9 col-12 description">
              <div class="execution-description">
                <p class="e-title">Execução de Cadeia Genética 1</p>
                <p class="dataset">Dataset: dataset_name.mat</p>
              </div>
              <i class="fas fa-chevron-down" (click)="showDetails(execution.id)"></i>
            </div>
          </div>
          <div class="row animate__animated animate__fadeInDown" *ngIf="showExecutionsDetails === execution.id">
            <div class="col-12 p-0">
              <app-execution-details *ngIf="showExecutionsDetails === execution.id"></app-execution-details>
            </div>
          </div>
        </div>
      </div>

      <app-empty-state *ngIf="executions.length === 0"></app-empty-state>
    </div>
  </div>
</app-card>