<app-card>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-12 mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Your Executions</h3>

        <button class="add-button" [routerLink]="['new']">
          Create Execution
          <i class="fas fa-plus-circle"></i>
        </button>
      </div>
    </div>

    <div class="col-md-10 col-12 mt-3">
      <app-execution-details *ngIf="executions.length > 0" [executions]="executions" (refresh)="getExecutions()">
      </app-execution-details>

      <app-empty-state *ngIf="executions.length === 0"></app-empty-state>
    </div>
  </div>
</app-card>