<div class="row d-flex justify-content-center">
  <div class="col-md-10 col-12 mt-3">
    <div class="d-flex justify-content-between align-items-center">
      <h3>Suas Execuções</h3>

      <button [routerLink]="['new']" routerLinkActive="router-link-active">
        <i class="far fa-plus-square"></i>
        Criar Execução</button>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">ID Execução</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let execution of executions">
          <td>{{execution.project.name}}</td>
          <td>{{execution.id}}</td>
          <td>{{execution.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>