.add-button {
  background-color: #3997c0;
  color: white;
  margin: 30px 10px;
  padding: 8px 9px;
  width: 200px;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    color: #1e6b8c;
    font-size: 24px;
  }

}

h3 {
  font-weight: bold;
  color: gray;
}