i {
    font-size: 20px;
    color: #ffffff;
}

button {
    background-color: #3595be;
    color: white;
    margin: 30px 10px;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 13px;
    font-size: 16px;
    font-weight: bold;
    color: #64656a;
    cursor: pointer;
    border-bottom: 2px solid #a4a4a4;

    p {
        margin: 0;
    }

    i {
        color: #64656a;
    }
} 

.option:hover {
    background-color: #eeeeee;
}

h3 {
    font-weight: bold;
    color: gray;
  }