<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Configurar Serviço</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="description" *ngIf="!openForm">É necessário configurar as operações do serviço.</p>


        <div class="row" *ngIf="!openForm">
            <div class="col-12" *ngFor="let operation of operations">
                <div class="operation">
                    <p>{{operation.type}}</p>
                    <button (click)="configForm(operation)" *ngIf="!configuredOperations.includes(operation.type)">Configurar</button>
                    <i class="fas fa-check-circle" *ngIf="configuredOperations.includes(operation.type)"></i>
                </div>
            </div>
        </div>

        <app-dynamic-form 
        *ngIf="openForm" 
        [params]="selectedOperation.params" 
        [description]="selectedOperation.description"
        (saveInput)="saveOperationParams($event)"
        (closeForm)="closeForm($event)"></app-dynamic-form>


        <div class="modal-footer d-flex justify-content-between align-items-center mt-5 pr-0" *ngIf="!openForm">
            <div></div>
            <button class="btn save-btn" (click)="return()">Concluir</button>
        </div>
    </div>
</ng-template>