<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Configurar Serviço</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="description" *ngIf="!openForm">Selecione uma das operações realizadas pelo serviço abaixo e preencha
            os parâmetros necessários.</p>


        <div class="row" *ngIf="!openForm">
            <div class="col-12" *ngFor="let operation of operations">
                <div class="operation">
                    <p>{{operation.type}}</p>
                    <button (click)="configForm(operation)">
                        Selecionar
                    </button>
                </div>
            </div>
        </div>

        <app-dynamic-form *ngIf="openForm" [params]="selectedOperation.params"
            [description]="selectedOperation.description" (saveInput)="saveOperationParams($event)" (closeForm)="closeForm()"></app-dynamic-form>

    </div>
</ng-template>